*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.MoviesList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    padding: 25px;
}
